body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;    
}

/* Game title */
.title-box {
    margin: 0 auto;
    padding-left: 100px;
    
    justify-content: center;
    align-items: baseline;
}
#input-name {
    border:thin solid red;
}
/* Informative part */
.game-character-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#game-area-character {
    margin: 10px;
    width: 80px;
    height: 120px;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Message */
.counts-parent {
    position: relative;
    height: 140px;
    min-width: 160px;
    display: flex;
    margin: 0 20px;
    justify-content: center;
}

.message-background {
    background-color: #fff;
    color: #221916;
    text-shadow: #221916 0px 0px 1px, #BD6E2A 1px 1px 2px;
    font-style: italic;
    align-self: flex-end;
    text-align: center;
}

.message-background .text {
    font-size: 18px;
}

/* Score & Tries */
.counts-box {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}

.count {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #BD6E2A;
    box-shadow: rgb(0, 0, 0) 1px 1px 3px;
}

/* Game field */
.game-field-background {
    background-color: #f0c794;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    border-radius: 10%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.object {
    background-image: url("../images/door.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}